@using WebBanSach.Models;
@model List<sach>

<h1 class="item-header">Sách mới</h1>

@foreach (var item in Model)
{
    <div class="activity-list-update">
        <img src="~/Assets/images/6464.png" alt="Image">
        <p><strong>@item.TenSach</strong> updated his <a href="#">user profile</a>.</p>
        <div class="clear"></div>
    </div>
}

<a href="#" class="item-footer green">
    See all activity
</a>