@using WebBanSach.Models;
@model List<chude>

<section>
    @* Phần chủ đề *@
    <div id="ChuDe">
        @foreach (var item in Model)
        {
            <a href="#" class="button button-submit">@item.TenChuDe</a>
        }
        <a href="#" class="button">Xem thêm</a>

    </div>
    <hr>
</section>
